body {
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
}

/* Header */
.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 150px;
}

.nav-link {
    color: var(--Dark-Blue, #1C2434);
    font-size: 16px;
    margin-left: 20px;
}

.navbar-toggler {
    border: none;
    box-shadow: none !important;
}

/* home  */

/* hero */

.display-4 {
    font-size: 60px;
    font-weight: 600;
}

.img2 {
    width: 48px;
    height: 48px;
    flex-shrink: 0;
}

.lead1 {
    color: var(--Dark-Gray, #64748B);
    font-size: 24px;
    font-weight: 400;
    line-height: 30.4px;
}

.lead2 {
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    background: var(--Blue-Primary, #017CC7);
    font-size: 20px;
}

#img28 {
    width: 600px;
    height: 700px;
}

.arrowdown {
    width: 96px;
    height: 148px;
    border-radius: 60px;
    border: 2px solid var(--White, #FFF);
    position: relative;
    bottom: -130px;
}

.arrowdown div {
    width: 80px;
    height: 134px;
    border-radius: 60px;
    border: 1px solid var(--Light-Gray, #E2E8F0);
    background: var(--White, #FFF);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
}

.hero svg {
    display: block;
    margin: 40px auto;
}

/* services */

.carousel-control-next2 {
    background-color: #017CC7;
    color: white;
    border-radius: 50%;
    padding: 5px;
    margin-left: -130px;
    margin-top: 15px;
}

.carousel-control-prev2 {
    padding: 5px;
    background-color: white;
    color: #017CC7;
    border-radius: 50%;
    border: 2px solid #017CC7;
}

.carousel-control-prev2:hover {
    color: #017CC7;
}

.cone div {
    position: relative;
    width: 72px;
    height: 72px;
    flex-shrink: 0;
    border-radius: 100px;
    border: 1px solid var(--Light-Gray, #E2E8F0);
    background: var(--Blue-Secondary, #D9F1FF);
}

.cone div img {
    position: absolute;
    left: 15px;
    top: 12px;
}

.text14 {
    width: 230px;
    color: var(--Dark-Gray, #64748B);
    font-size: 18px;
    font-weight: 400;
}

.text1 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 40px;
    text-decoration: none;
}

.text2 {
    width: 254px;
    color: var(--Dark-Gray, #64748B);
    font-size: 18px;
    font-weight: 400;
    margin-top: -40px;
}

.text3 {
    text-align: center;
    font-size: 36px;
    font-weight: 600;
}

.text4 {
    color: var(--Dark-Gray, #64748B);
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

/* about us */
.aboutus {
    display: none;
}

.about {
    display: block;
}

/* facility-trust  */
.twofont {
    font-size: 24px;
    font-weight: 600;
}

.text6 {
    color: var(--Dark-Gray, #64748B);
    font-size: 15px;
    font-weight: 400;
    line-height: 24px;
}

.text7 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 20px;
    font-weight: 600;
}

.true {
    display: inline-flex;
    height: 38px;
    padding: 12.667px 11.083px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 22.167px;
    flex-shrink: 0;
    border-radius: 89.412px;
    background: var(--Blue-Secondary, #D9F1FF);
}

.truetext {
    margin-left: 10px;
    margin-top: 30px;
}

.true {
    margin-top: 30px;
}



.trust {
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: end;
    margin-top: 50px;
}

.trust svg {
    margin-top: 20px;
}

/* team of doctor */
#col {
    display: flex;
    padding: 3px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    border: 1px solid var(--Light-Gray, #E2E8F0);
    width: 254px;
    height: 290px;
    background: #F1F5F9;
    margin: auto;
}

#coldiff {
    display: flex;
    padding: 3px 4px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    border-radius: 24px;
    border: 1px solid var(--Light-Gray, #E2E8F0);
    width: 254px;
    height: 290px;
    background: var(--Blue-Secondary, #D9F1FF);
    margin: auto;
}

#col img {
    margin-top: 18px;
}


.text8 {
    text-align: center;
    font-size: 12px;
    width: 254px;
    color: var(--Dark-Gray, #64748B);
    font-weight: 400;
    margin-top: -40px;
    margin-top: -20px;
}

.text9 {
    color: var(--Blue-Primary, #017CC7);
    font-size: 24px;
    text-align: center;
    font-weight: 600;
}

.text10 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.rec4 {
    box-sizing: border-box;
    border-radius: 12px;
    border: 1px solid var(--Blue-Primary, #017CC7);
    background: var(--White, #FFF);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
    padding: 5px 0px;
    margin: auto;
    display: block;
    width: 100%;
}

.carousel-control-next3 {
    background-color: #017CC7;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.carousel-control-prev3 {
    padding: 5px;
    background-color: white;
    color: #017CC7;
    border-radius: 50%;
    border: 2px solid #017CC7;
}

/* number section */
.center-svg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.text15 {
    font-size: 49.252px;
    font-weight: 400;
}

.text16 {
    font-size: 24px;
    font-weight: 600;
}

/* rating and feedback */
.lead3 {
    color: var(--Blue-Primary, #017CC7);
    font-size: 24px;
    font-weight: 700;
    line-height: 156.5%;
}

.text11 {
    color: var(--Dark-Gray, #64748B);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}

.carousel-control-next {
    background-color: #017CC7;
    color: white;
    border-radius: 50%;
    padding: 5px;
}

.carousel-control-prev {
    padding: 5px;
    background-color: white;
    color: #017CC7;
    border-radius: 50%;
    border: 2px solid #017CC7;
}

.carousel-control-prev:hover {
    color: #017CC7;
}

/* faq */

.faqsec {
    padding: 50px 0px 50px 0px;
}

.accordion .accordion-item {
    border-radius: 16px;
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    align-items: flex-start;
    padding: 16px;
    width: 500px;
}

.accordion-button::after {
    background-image: unset !important;
}

.accordion-button:not(.collapsed) {
    background-color: white;
    border: none;
}

.accordion .accordion-button {
    box-shadow: none;
    color: var(--Blue-Primary, #017CC7);
    text-align: center;
    font-size: 24px;
    font-weight: 600;
}

.accordion-button:not(.collapsed) {
    color: black;
}

.accordionarrow {
    position: absolute;
    left: 430px;
}

.accordion-button.collapsed .accordionarrow {
    transform: rotate(-180deg);
}

/* blogs */
.card-title {
    color: var(--Blue-Primary, #017CC7);
    font-size: 24px;
    font-weight: 600;
    text-align: start;
}

.card-link {
    color: var(--Dark-Blue, #1C2434);
    font-size: 16px;
    font-weight: bolder;
    text-align: start;
}

.card-text {
    color: var(--Dark-Gray, #64748B);
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: start;
}

.blogs {
    height: 470px;
}

/* footer */
.text12 {
    font-size: 24px;
    color: var(--Light-Gray, #E2E8F0);
    font-weight: 600;
    margin-bottom: 20px;
}

.footer a {
    color: white;
    font-size: 14px;
    font-weight: 400;
    width: 140px;
    margin-top: -10px;
    margin-bottom: 10px;
    margin-left: -10px;
}

.footer p {
    color: white;
    font-size: 14px;
    font-weight: 400;
    margin-top: 30px;
    margin-left: -50;
}

.text13 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 25px;
    font-weight: 700;
    line-height: 156.5%;
}

.flyer {
    width: 70%;
    padding: 10px 10px;
    border-radius: 16px;
    border: 1px solid var(--Blue-Secondary, #D9F1FF);
    background: var(--White, #FFF);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
    margin: 0 auto;
    top: 180px;
    position: relative;
}

.time {
    margin-top: 5px !important;
    margin-bottom: -10px !important;
}

/* About us */

/* hero section */
.text17 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 32px;
    font-weight: 600;
}

/* glimpse */
.image-container img {
    border-radius: 16px;
    width: 327px;
    height: 351px;

}

.image-container {
    position: relative;
}

.image-container img:hover {
    width: 347px;
    height: 371px;
}

/* medical approach */
.text18 {
    color: #032342;
    font-size: 20px;
}

.circleone {
    width: 50px;
    height: 50px;
    background-color: #1C2434;
}

.rec5 {
    width: 220px;
    height: 134px;
    border-radius: 16px;
    border: 1px solid var(--Blue-Primary, #017CC7);
    opacity: 0.5;
    background: var(--Blue-Secondary, #D9F1FF);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
}

/* our services */
/* services we provide */

.cardservices:hover {
    background: linear-gradient(74deg, #1881C2 2.4%, #4BAAE4 97.31%);
}

/* get in touch */
.rec6 {
    width: 435px;
    height: 102px;
    z-index: 2;
    position: absolute;
    border-radius: 16px;
    border: 1px solid var(--Light-Gray, #E2E8F0);
    background: var(--White, #FFF);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
    margin-left: -50px;
}

.rec7 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(74deg, #1881C2 2.4%, #4BAAE4 97.31%);
}

.rec8 {
    width: 435px;
    height: 102px;
    border-radius: 16px;
    border: 1px solid var(--Blue-Primary, #017CC7);
    background: var(--Blue-Secondary, #93c5e2);
    box-shadow: 0px 6px 31px 0px rgba(15, 57, 83, 0.05);
    z-index: 2;
    position: absolute;
    margin-left: -50px;
}

.rec9 {
    width: 70px;
    height: 70px;
    border-radius: 10px;
    background: #FFFFFF;
}

.text19 {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.text20 {
    color: white;
    font-size: 20px;
    font-weight: 600;
}

.touchimg {
    width: 420px;
}

/* oculoplasty */
.oculo img {
    margin-bottom: 30px;
}

.treatment {
    color: var(--Dark-Blue, #1C2434);
    font-size: 20px;
    font-weight: 500;
}

.text21 {
    color: var(--Blue-Primary, #017CC7);
    font-size: 16px;
    font-weight: 500;
}

.text22 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 16px;
    font-weight: 400;
}

.text23 {
    color: var(--Dark-Blue, #1C2434);
    font-size: 16px;
    font-weight: 700;
}

/* blogs */
.blogpill {
    color: var(--Blue-Primary, #017CC7);
    font-size: 12px;
    font-weight: 700;
    width: 45%;
    margin-top: -20px;
    background-color: white;
    border: 2px solid #017CC7;
}

.blogpill:hover {
    color: white;
    background-color: #017CC7 !important;
}

.blogtitle:hover {
    color: #017CC7;
}

.blogmore a:hover {
    color: #017CC7;
}

.page-link {
    border-radius: 50%;
    border: none;
    box-shadow: none !important;
}

/* single block */
.singleblockpill {
    margin-top: -20px;
    font-size: 20px;
    font-weight: 600;
}

.relatedblog {
    border-radius: 16px;
    background: var(--BG-Color, #F1F5F9);
    height: fit-content;
}

.relatedblogpill {
    color: var(--Blue-Primary, #017CC7);
    font-size: 12px;
    font-weight: 700;
    width: 50%;
    margin-top: -20px;
    background-color: white;
    border: 2px solid #017CC7;
}

.relatedblogpill:hover {
    color: white;
    background-color: #017CC7 !important;
}

/* contact us */
.contactuspill {
    font-size: 20px;
    font-weight: 500;
}

.form-label {
    color: var(--Blue-Primary, #017CC7);
    font-size: 24px;
    font-weight: 600;
}

.form-control {
    border-left: none;
    height: 64px;
}

.form-control:focus {
    box-shadow: none;
    border: 1px solid #E2E8F0;
    border-left: none;
}

.form-select {
    border-left: none;
    height: 64px;
}

.form-select:focus {
    box-shadow: none;
    border: 1px solid #E2E8F0;
    border-left: none;
}

.input-group-text {
    border-right: none;
}

.input-group-text {
    background-color: white;
}

::placeholder {
    font-size: 18px;
    font-weight: 400;
}

.message::placeholder {
    position: absolute;
    top: 20px;
}

#inputMessage {
    height: 240px;
}

/* appoinment */
.text24 {
    color: var(--Blue-Primary, #017CC7);
    font-size: 38px;
    font-weight: 600;
}

.text25 {
    color: var(--Blue-Primary, #017CC7);
    font-size: 18px;
    font-weight: 600;
}

.appoinimg{
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 37%;

}

#inputMessageappoint{
    height: 120px;
}


