body,
html {
    font-family: 'Roboto';
    font-style: normal;
    line-height: normal;
    overflow-x: hidden;
    margin: 0px;
    padding: 0px;
    width: 100%;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,p,hr,ul{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}
span {
    color: #017CC7;
}

@media(min-width:1440px) {
    .container {
        max-width: 1440px;
    }
}